{% extends 'base.html' %}

{% block header %}
<h2>Dodaj pracownika</h2>
{% endblock %}


{% block content %}
<form action="/add_department_submit" method="post">
  <input type="text" id="name" name="name"  placeholder="Imię" required><br>
  <input type="text" id="responsibilities" name="responsibilities" placeholder="zadania oddziału" required><br>
  <input type="submit" value="zatwierdź">
</form>
<form action="/">
  <input type="submit" value="strona główna">
</form>
{% endblock %}