{% extends 'base.html' %} {% block header %}
<h2>Szukaj</h2>
{% endblock %} {% block content %}
<form action="/lookup" method="POST">
  <label>Filtry dotyczące pracowników</label><br />
  <input type="hidden" id="filter_type" name="filter_type" value="Employee" />
  <input type="text" id="e_name" name="e_name" placeholder="Imię" />
  <input type="text" id="e_surname" name="e_surname" placeholder="Nazwisko" />
  <input
    type="number"
    id="e_exp_start"
    name="e_exp_start"
    placeholder="Doświadczenie od % lat"
  />
  <input
    type="number"
    id="e_exp_end"
    name="e_exp_end"
    placeholder="Doświadczenie do % lat"
  />
  <select name="e_contract_type">
    <option value="" disabled selected>Rodzaj umowy</option>
    <option value="Umowa o pracę">Umowa o pracę</option>
    <option value="Umowa zlecenie">Umowa zlecenie</option>
    <option value="Umowa o dzieło">Umowa o dzieło</option>
    <option value="Samozatrudnienie">Samozatrudnienie</option>
  </select>
  <input type="date" id="e_hire_date" name="e_hire_date" />
  <input type="submit" value="Szukaj" />
</form>
<br />

<form action="/lookup" method="POST">
  <label>Filtry dotyczące menadżerów</label>
  <br />
  <input type="hidden" id="filter_type" name="filter_type" value="Manager" />
  <input type="text" id="m_name" name="m_name" placeholder="Imię" />
  <input type="text" id="m_surname" name="m_surname" placeholder="Nazwisko" />
  <input
    type="number"
    id="m_exp_start"
    name="m_exp_start"
    placeholder="Doświadczenie od % lat"
  />
  <input
    type="number"
    id="m_exp_end"
    name="m_exp_end"
    placeholder="Doświadczenie do % lat"
  />
  <input type="date" id="m_hire_date" name="m_hire_date" />
  <input type="submit" value="Szukaj" />
</form>
<br />

<form action="/lookup" method="POST">
  <label>Filtry dotyczące oddziałów</label>
  <br />
  <input type="hidden" id="filter_type" name="filter_type" value="Department" />
  <input type="text" id="d_name" name="d_name" placeholder="Nazwa" />
  <input
    type="text"
    id="d_responsibilities"
    name="d_responsibilities"
    placeholder="Zadania"
  />
  <input type="submit" value="Szukaj" />
</form>
<br />

<form action="/lookup" method="POST">
  <label>Filtry dotyczące zespołów</label>
  <br />
  <input type="hidden" id="filter_type" name="filter_type" value="Team" />
  <input type="text" id="t_name" name="d_name" placeholder="Nazwa" />
  <input type="text" id="t_duties" name="d_duties" placeholder="Obowiązki" />
  <input type="submit" value="Szukaj" />
</form>
<br />

<form action="/">
  <input type="submit" value="strona główna" />
</form>

<h3>Podgląd bazy danych</h3>
<br />
<iframe
  src="{{ url_for('static', filename='graph.html') }}"
  height="610px"
  width="805px"
></iframe>
{% endblock %}
