{% extends 'base.html' %} {% block header %}
<h2>Szukaj</h2>
{% endblock %} {% block content %}
<form action="/lookup" method="POST">
  <label>Filtry dotyczące pracowników</label><br />
  <input type="hidden" id="filter_type" name="filter_type" value="Employee" />
  <input type="text" id="name" name="name" placeholder="Imię" />
  <input type="text" id="surname" name="surname" placeholder="Nazwisko" />
  <input
    type="number"
    id="exp_start"
    name="exp_start"
    placeholder="Doświadczenie od % lat"
  />
  <input
    type="number"
    id="exp_end"
    name="exp_end"
    placeholder="Doświadczenie do % lat"
  />
  <select name="contract_type">
    <option value="" selected>Rodzaj umowy</option>
    <option value="Umowa o pracę">Umowa o pracę</option>
    <option value="Umowa zlecenie">Umowa zlecenie</option>
    <option value="Umowa o dzieło">Umowa o dzieło</option>
    <option value="Samozatrudnienie">Samozatrudnienie</option>
  </select>
  <input type="date" id="hirdate" name="hirdate" />
  <input type="submit" value="Szukaj" />
</form>
<br />

<form action="/lookup" method="POST">
  <label>Filtry dotyczące menadżerów</label>
  <br />
  <input type="hidden" id="filter_type" name="filter_type" value="Manager" />
  <input type="text" id="name" name="name" placeholder="Imię" />
  <input type="text" id="surname" name="surname" placeholder="Nazwisko" />
  <input
    type="number"
    id="exp_start"
    name="exp_start"
    placeholder="Doświadczenie od % lat"
  />
  <input
    type="number"
    id="exp_end"
    name="exp_end"
    placeholder="Doświadczenie do % lat"
  />
  <input type="date" id="hirdate" name="hirdate" />
  <input type="submit" value="Szukaj" />
</form>
<br />

<form action="/lookup" method="POST">
  <label>Filtry dotyczące oddziałów</label>
  <br />
  <input type="hidden" id="filter_type" name="filter_type" value="Department" />
  <input type="text" id="name" name="name" placeholder="Nazwa" />
  <input
    type="text"
    id="responsibilities"
    name="responsibilities"
    placeholder="Zadania"
  />
  <input type="submit" value="Szukaj" />
</form>
<br />

<form action="/lookup" method="POST">
  <label>Filtry dotyczące zespołów</label>
  <br />
  <input type="hidden" id="filter_type" name="filter_type" value="Team" />
  <input type="text" id="name" name="name" placeholder="Nazwa" />
  <input type="text" id="duties" name="duties" placeholder="Obowiązki" />
  <input type="submit" value="Szukaj" />
</form>
<br />

<form action="/">
  <input type="submit" value="strona główna" />
</form>

<h3>Podgląd bazy danych</h3>
<br />
<iframe
  src="{{ url_for('static', filename='graph.html') }}"
  height="610px"
  width="805px"
></iframe>
{% endblock %}
